
<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<h5>联系电话：</h5>
			<h3>021-56144920</h3>
		</div>
		<div class="col-xs-4">
			<ul class="nav nav-justified">
				<li><a href="">关于我们</a></li>
				<li><a href="">新闻中心</a></li>
				<li><a href="">招商中心</a></li>
				<li><a href="">社区活动</a></li>
			</ul>
		</div>
		<div class="col-xs-4 text-center">
			<img src="img/eq.jpg" alt="" width="120">
			<h5>关注我们</h5>
		</div>			
	</div>
	<hr>
	<p class="text-center">© 版权所有 Copyright(C)上海淞南都市经济发展区<br>备案编号：沪ICP备16012570号<br>技术支持：上海极想网络科技有限公司</p>
</div>
